<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.mos7af.mp3quran"
      android:versionCode="4"
      android:versionName="2.0"
       
      >
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity android:name=".MP3Quran"
                  android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
       
        <activity android:name="com.mos7af.mp3quran.PlayerActivity" />
        
    
        <activity android:name="com.mos7af.mp3quran.SurasActivity" />
   
        <activity android:name="com.mos7af.mp3quran.RecitersActivity" />
		
		  <activity
            android:name="com.mos7af.mp3quran.PlayerPlayListActivity" />
         
		  	  <activity
            android:name="com.mos7af.mp3quran.PlayListSurasActivity" />
              <activity
            android:name="com.mos7af.mp3quran.PlaylistActivity" />
         
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
</manifest>